body {
  background-image: url('https://raw.githubusercontent.com/thutterer/thutterer.github.io/master/assets/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #1f1f1f;

  // get updated by JS on scroll
  -webkit-backdrop-filter: blur(95px) brightness(0.4);
  backdrop-filter: blur(95px) brightness(0.4);
}

.github-component {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  opacity: 0.85;
}